In [10]:
!pip install openai --quiet
!pip install tenacity --quiet

In [25]:
import json

import pandas as pd
import numpy as np


import openai
from tenacity import retry, wait_random_exponential, stop_after_attempt

In [2]:
## Load data
path = 'data/Coursera.csv'
data = pd.read_csv(path)

In [3]:
data.head()

,course_name,university,difficulty_level,course_rating,course_url,description,skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [4]:
data.columns

Index(['course_name', 'university', 'difficulty_level', 'course_rating',
       'course_url', 'description', 'skills'],
      dtype='object')

In [7]:
## check for missing values
print(data.isnull().sum())

course_name         0
university          0
difficulty_level    0
course_rating       0
course_url          0
description         0
skills              0
dtype: int64

In [6]:
def get_embeddings(text):
    response = openai.Embedding.create(
        input = text,
        model = "text-embedding-ada-002",
    )["data"][0]["embedding"]
    return response

In [27]:
## read api key
key = json.load(open('api.json'))

In [30]:

# Set up your OpenAI API credentials
openai.api_key = key['open_api']

##@retry(wait=wait_random_exponential(min=1, max=20), stop=stop_after_attempt(6))
#def get_embedding(text: str, model="text-embedding-ada-002") -> list[float]:
    #return openai.Embedding.create(input=[text], model=model)["data"][0]["embedding"]


embedding1 = get_embeddings("Machine learning using python")
embedding2 = get_embeddings("Data science using python")
embedding3 = get_embeddings("Linear algebra using R and Python")

In [31]:
## function to get the similarity score between embeddings
def get_similarity_score(embedding1, embedding2):
    return np.inner(embedding1, embedding2)

In [32]:
get_similarity_score(embedding1, embedding2)

0.9246188951947464

In [33]:
get_similarity_score(embedding1, embedding3)

0.8238398738219397

In [34]:
embedding4 = get_embeddings("Introduction to Mathematics")

In [35]:
get_similarity_score(embedding1, embedding4)

0.7697599029388682